@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação para apagar o usuário";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuário (@Model.Nome)?</h3>
</div>
<div class="d-grid gap-2">
    <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirma exclusão</a>
<a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
</div>